*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
    color: white;
}
button{
    padding: 8px 15px;
    border: 1px solid rgb(0, 95, 133);
    border-radius: 20px;
    margin-top: 1vh;
    background-color: rgb(11, 226, 241);
}
a{
    text-decoration: none;
    color: rgb(42, 161, 165);
}
.bottom{
    background: transparent;
    border: 2px solid rgb(8, 197, 245);
    width: 12vw;
    margin: 5vh 0.5vw;
}
.bottom a{
color: rgb(1, 237, 245);
 
}
body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgb(0,0,0,0.5)50%,rgb(0,0,0,00.5)50%), url(index\'.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.nav{
    display: flex;
    width: 100%;
    height: 10vh;
    margin-top: 2vh;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.right{
    display: flex;
    width: 50%;
    justify-content: space-around;
}

 .bottom:hover{
    background-color: rgb(182, 245, 99);
    border: 2px solid rgb(8, 83, 14);
}
.contenar{
    margin: 20vh auto;

}
h1{
    font-size: 3rem;
    font-weight: 600;
}